name: Continuous Integration
on:
  push:
  pull_request:
    branches:
      - master
permissions:
  contents: read

env:
  GOTELEMETRY: off
  CGO_ENABLED: 0

jobs:
  test:
    name: test
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          #go-version: '1.20'
          go-version-file: 'go.mod'
          check-latest: true
      - name: Run tests
        run: go test -race ./...
  lint:
    permissions:
      contents: read  # for actions/checkout to fetch code
      pull-requests: read  # for golangci/golangci-lint-action to fetch pull requests
    name: lint
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          #go-version: '1.20'
          go-version-file: 'go.mod'
          check-latest: true
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6.3.2
        with:
          version: v1.52.0
